
  <angular-content-carousel [cellsToShow]="1" class="showArrows" [loop]="true" [autoplay]="true" [dots]="true">
    <div class="carousel">
      <div class="carousel-cell" *ngFor="let slide of slides">
        <picture>
          <source media="(max-width:375px)" [srcset]="slide.yek">
          <source media="(max-width:430px)" [srcset]="slide.do">
          <source media="(max-width:600px)" [srcset]="slide.se">
          <source media="(max-width:768px)" [srcset]="slide.char">
          <source media="(max-width:900px)" [srcset]="slide.panj">
          <source media="(max-width:1024px)" [srcset]="slide.shish">
          <source media="(max-width:1280px)" [srcset]="slide.haft">
          <source media="(max-width:1366px)" [srcset]="slide.hasht">
          <source media="(max-width:1440px)" [srcset]="slide.noh">
          <source media="(max-width:16000px)" [srcset]="slide.dah">
          <img [src]="slide.yazdah" alt="main-slide-image" class="main-slide" loading="lazy">
        </picture>
      </div>
    </div>
      <!-- <div class="carousel-cell active-slide" style="background-color: red;"></div>
      <div class="carousel-cell" style="background-color: blue;"></div>
      <div class="carousel-cell" style="background-color: green;"></div>
      <div class="carousel-cell" style="background-color: yellow;"></div> -->
    
  </angular-content-carousel>
